%p
  %strong Hello #{@presenter.user.first_name},

%p
  Your checklist
  %strong= @presenter.checklist.name
  has been exported succesfully.
  %br
  Please find attached file below.

%p
  Take care,
  %br
  [App Name] Team
