.skeleton
  .mb-3
    .py-1
      .skeleton__label.w-12
    .skeleton__input.w-full
  .mb-3
    .py-1
      .skeleton__label.w-12
    .skeleton__input.w-full
  .mb-3
    .py-1.flex.justify-end
      .skeleton__link-sm.w-32
  .my-8
    .skeleton__button.w-full
  .mb-3
    .py-1.flex.justify-center.gap-2
      .skeleton__link-sm.w-40
      .skeleton__link-sm.w-12
