.auth-page
  = link_to '[App Name]', '#', class: 'auth-page__brand'

  .auth-page__card
    .p-6.space-y-6
      %h1.auth-page__title Sign in to your account

      %div{ data: { behavior: 'sign-in-form' } }
        %sign-in-form{ 'v-bind': render(partial: 'users/sessions/new_form') }
          = render partial: 'users/sessions/new_form_skeleton'

      = vite_typescript_tag 'entrypoints/user_auth/signInForm.ts'
