%section.page
  .mb-8
    = render partial: 'breadcrumbs'
    %h1.page__title Checklists

  %div{ data: { behavior: 'checklists-grid' } }
    %checklists-grid{ 'v-bind': render(template: 'user_panel/checklists/index', formats: %i[json]) }

  = vite_typescript_tag 'entrypoints/user_panel/checklists/checklistsGrid.ts'
