@layer components {
  .landing-page {
    header,
    section,
    footer {
      @apply
        bg-white;
    }

    &__hero {
      @apply
        container
        min-h-screen
        mx-auto
        pt-48
        pb-32
        px-12
        relative;
    }

    &__title {
      @apply
        mb-6
        text-3xl
        md:text-4xl
        lg:text-6xl
        font-extrabold
        tracking-tight
        leading-none
        text-gray-900;
    }

    &__subtitle {
      @apply
        mb-8
        lg:px-16
        text-base
        md:text-lg
        lg:text-xl
        font-normal
        text-gray-500;
    }

    &__cta {
      @apply
        flex
        flex-col
        md:flex-row
        justify-center
        gap-2
        mb-16;
    }

    &__section {
      @apply
        container
        mx-auto
        py-16
        px-12;
    }

    &__section-title {
      @apply
        mb-8
        lg:mb-16
        text-3xl
        lg:text-4xl
        tracking-tight
        font-extrabold
        text-gray-900;
    }

    &__section-text {
      @apply
        text-base
        lg:text-lg
        text-gray-500;
    }
  }
}
