@layer components {
  .btn {
    @apply
      bg-white
      text-gray-900
      border-gray-200
      hover:text-indigo-700
      hover:bg-gray-100
      focus:ring-gray-100
      focus:ring-4
      focus:outline-none
      rounded-lg
      border
      text-sm
      font-medium
      text-center
      text-nowrap
      capitalize
      tracking-wide
      transition-colors
      duration-300
      cursor-pointer
      py-2
      px-6
      inline-flex
      justify-center
      items-center
      gap-2;

    &--primary {
      @apply
        text-white
        bg-indigo-700
        border-indigo-700
        hover:text-white
        hover:bg-indigo-800
        focus:ring-indigo-300;
    }

    &--success {
      @apply
        text-white
        bg-green-700
        border-green-700
        hover:text-white
        hover:bg-green-800
        focus:ring-green-300;
    }

    &--danger {
      @apply
        text-white
        bg-red-700
        border-red-700
        hover:text-white
        hover:bg-red-800
        focus:ring-red-300;
    }

    &--warning {
      @apply
        text-white
        bg-yellow-400
        border-yellow-400
        hover:text-white
        hover:bg-yellow-500
        focus:ring-yellow-300;
    }

    &--icon {
      @apply
        rounded-full
        border-0
        size-10
        p-2
        text-center
        inline-flex
        items-center;
    }
  }
}
