@layer components {
  .checklist-new {
    @apply
      h-48
      max-w-lg
      flex
      flex-col
      justify-center
      items-center
      gap-2
      rounded-lg
      border-dashed
      border-2
      bg-white
      hover:bg-gray-100
      border-gray-500
      hover:border-indigo-700
      text-gray-500
      hover:text-indigo-700
      text-2xl
      font-medium
      transition-all;

    & > svg {
      @apply
        h-10
        w-10;
    }
  }
}
