@layer components {
  .features-grid-item {
    &__icon {
      @apply
        flex
        justify-center
        items-center
        mb-4
        size-10
        lg:size-12
        rounded-full
        bg-indigo-100;

      & > svg {
        @apply
          size-5
          lg:size-6
          text-indigo-600;
      }
    }

    &__title {
      @apply
        mb-2
        text-lg
        lg:text-xl
        font-bold;
    }

    &__body {
      @apply
        text-gray-500;
    }
  }
}
