.skeleton
  .mb-4
    .skeleton__badge-lg.w-20
  .grid.grid-cols-2.gap-2
    .col-span-2
      .mb-3
        .py-1
          .skeleton__label.w-12
        .skeleton__input.w-full
    .col-span-2
      .skeleton__button.w-full
