.skeleton
  .mb-8
    .py-1
      .skeleton__text-sm.w-full
    .py-1
      .skeleton__text-sm.w-full
    .py-1
      .skeleton__text-sm.w-12
  .mb-3
    .py-1
      .skeleton__label.w-12
    .skeleton__input.w-full
  .my-8
    .skeleton__button.w-full
  .my-8
    .skeleton__button.w-full
