.auth-page
  = link_to '[App Name]', '#', class: 'auth-page__brand'

  .auth-page__card
    .p-6.space-y-6
      %h1.auth-page__title Two Factor Authentication

      %div{ data: { behavior: 'verify-otp-code-form' } }
        %verify-otp-code-form{ 'v-bind': render(partial: 'user_panel/otp_auth/verify_form') }
          = render partial: 'user_panel/otp_auth/verify_form_skeleton'

      = vite_typescript_tag 'entrypoints/user_panel/otp_auth/verifyForm.ts'
