.auth-page
  = link_to '[App Name]', '#', class: 'auth-page__brand'

  .auth-page__card
    .p-6.space-y-6
      %h1.auth-page__title Change your password

      %div{ data: { behavior: 'reset-password-form' } }
        %reset-password-form{ 'v-bind': render(partial: 'users/passwords/edit_form') }
          = render partial: 'users/passwords/edit_form_skeleton'

      = vite_typescript_tag 'entrypoints/user_auth/resetPasswordForm.ts'
