%p
  %strong Hello #{@user.first_name},

%p
  We noticed a failed login attempt on your account. Since Two-FactorAuthentication (2FA) is
  enabled, the login attempt was unsuccessful.
%p
  If this was you, please make sure you are using the correct authentication code. If you did not
  attempt to log in, we recommend reviewing your account activity and changing your password for
  added security.
%p
  For any concerns or assistance, feel free to contact our support team.

%p
  Take care,
  %br
  [App Name] Team
