body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
}

header {
  padding: .5rem 0 2rem;
}

footer {
  border-top: 1px solid  #f0f0f0;
  padding: 2rem 0 .5rem;
}

table {
  width: 100%;
  border-spacing: 0;
  table-layout: fixed;
}

th,
td {
  vertical-align: top;
  padding: .5rem;
}

.table-striped tr:nth-child(2n + 1) {
  background-color: #f0f0f0;
}

td.checkbox {
  width: 2rem;
  white-space: nowrap;
}

.text-primary {
  color: #4f46e5;
}

.text-muted {
  color: #9ca3af;
}

.text-left,
.ql-align-left {
  text-align: left;
}

.text-center,
.ql-align-center {
  text-align: center;
}

.text-right,
.ql-align-right {
  text-align: right;
}

.task-name {
  margin-bottom: 1rem;
  margin-top: .4rem;
}
