.skeleton
  .grid.grid-cols-2.gap-2
    .col-span-1
      .mb-3
        .py-1
          .skeleton__label.w-12
        .skeleton__input.w-full
    .col-span-1
      .mb-3
        .py-1
          .skeleton__label.w-12
        .skeleton__input.w-full
    .col-span-2
      .mb-3
        .py-1
          .skeleton__label.w-12
        .skeleton__input.w-full
    .col-span-2
      .mb-3
        .py-1
          .skeleton__label.w-12
        .skeleton__input.w-full
    .col-span-2
      %hr.text-gray-500.my-8
    .col-span-1
      .mb-3
        .py-1
          .skeleton__label.w-12
        .skeleton__input.w-full
    .col-span-1
      .mb-3
        .py-1
          .skeleton__label.w-12
        .skeleton__input.w-full
    .col-span-2
      .skeleton__button.w-full
