.auth-page
  = link_to '[App Name]', '#', class: 'auth-page__brand'

  .auth-page__card
    .p-6.space-y-6
      %h1.auth-page__title Create an account

      %div{ data: { behavior: 'sign-up-form' } }
        %sign-up-form{ 'v-bind': render(partial: 'users/registrations/new_form') }
          = render partial: 'users/registrations/new_form_skeleton'

      = vite_typescript_tag 'entrypoints/user_auth/signUpForm.ts'
